.h2 {
  letter-spacing: 7px;
  color: white;
  margin-top: 10rem;
  margin-left: 17.7rem;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
}

.number {
  opacity: 0.3;
  color: #ffffff;
  margin-right: 1.2rem;
}

@media (max-width: 900px) {
  .h2 {
    letter-spacing: 4px;
    margin: 0 auto;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
