.body {
  background: url("../assets/technology/background-technology-desktop.jpg")
    no-repeat center;
  background-size: cover;
  min-height: 100vh;
}

.main {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@media (max-width: 900px) {
  .main {
    flex-direction: column-reverse;
  }

  .body {
    background: url("../assets/technology/background-technology-mobile.jpg")
      no-repeat center;
    background-size: cover;
  }
}
